@import '../../../shared/utils.css';

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  background: $light_silver;
  size: 100%;
}

.header {
  height: $header_height;
  @mixin simple-flex flex-start, center;
  background: $green;
  color: $white;
  padding: 15px;
  font-size: 16px;
  @extend font-reg;
}

.list {
  list-style: none;
  @extend font-light;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: $dark;
  padding: 15px;
}