@import '../../shared/utils.css';
.footer {
  size: 100% 64px;
  @mixin simple-flex flex-start, center;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $light_silver;
  z-index: 50;
  font-size: 13px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.m_footer {
  @extend .footer;
  position: relative;
  font-size:10px;
}
.inner {
  width: $inner_width;
  margin: 0 auto;
  @extend font-light;
  @mixin simple-flex space-between, center;
  @media screen and (max-width: $laptop_mdpi) {
    width: 100%;
    padding: 0 25px;
  }
}
.m_inner {
  @extend .inner;
  padding: 0;
}
.col {
  color: $dark;
  padding: 10px;
  div:first-child {
    margin-bottom: 5px;
  }
}