@import '../../shared/utils.css';

.inner {
  size: 50% 100%;
  float: right;
  padding: 20px;
}

.m_inner {
  width: 100%;
  padding: 10px;
}

.col {
  height: 100px;
  padding: 25px;
  &:first-child {
    width: 64%;
    background-color: $silver;
  }
  &:last-child {
    width: 36%;
    background-color: $blue;
  }
}

.map {
  size: 50% 100%;
  position: fixed;
  display: inline-block;
  z-index: 5;
}

.m_map {
  size: 100% 250px;
}
