@import '../../shared/utils/color_scheme.css';
.layout {
  width: 100%;
  position: relative;
  background-color: $light_silver;
}

.m_layout {
@extend .layout;
  overflow: hidden;
}

.content {
  padding: 64px 0;
}

.wrap {
  transition: transform .19s ease-out;
  &_open {
  @extend . wrap;
    transform: translateX(75%);
    box-shadow: 0 1px 35px rgba(0, 0, 0, 0.25)
  }
}