@import '../../shared/utils.css';

.header {
  size: 100% $header_height;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: $light_silver;
}

.inner {
  width: $inner_width;
  height: $header_height;
  margin: 0 auto;
  @mixin simple-flex space-between, center;
  @media screen and (max-width: $laptop_mdpi) {
    width: 100%;
    padding: 0 25px;
  }
}

.m_inner {
  @extend .inner;
  justify-content: center;
  padding: 0;
}

.left{
  height: $header_height;
  @mixin simple-flex space-between, center;
  width:100%;
}

.center {
  height: $header_height;
  @mixin simple-flex center, center;
}

.logo {
  text-decoration: none;
}

.toggle_nav {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background: none;
}