@import '../../shared/utils.css';

.wrap {
  width: 100%;
}

.box {
  position: relative;
  border-bottom: 1px solid $silver;
  margin-bottom: 15px;
  &__icon {
    color: $silver;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer;
  }
}

.title {
  color: $dark;
  @extend font-reg;
  padding: 8px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.form {
  padding-right: 12%;
  border-bottom: 1px solid $silver;
  @media screen and (max-width: $laptop_mdpi) {
    padding-right: 10%;
  }
  &__label {
    @extend font-light;
    color: $grey;
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__fields {
    @mixin simple-flex space-between, flex-start;
  }
  &__group {
    margin-bottom: 25px;
    font-size: 12px;
    &:first-child {
      font-size: 16px;
    }
    &:nth-child(2) {
      float: left;
      width: 50%;
    }
  }
  &__footer {
    @mixin simple-flex space-between, flex-start;
    width: 57%;
    margin-bottom: 25px;
  }
  &__submit {
    width: 100%;
    display: block;
    border: 1px solid $orange;
    border-radius: 2px;
    background: $white;
    @extend font-reg;
    font-size: 14px;
    padding: 12px;
    outline: none;
    color: $orange;
    cursor: pointer;
    transition: all .2s linear;
    margin-right: 5px;
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}