$green: #46b430;
$orange: #ffab00;
$blue: #79c0f2;
$dark_blue: #244FCE;
$red: #ff6666;
$silver: #bdc3c7;
$light_silver: #fafafa;
$dark: #212121;
$grey: #959595;
$dark_grey: #757575;
$light_grey: #efefef;
$white: #fff;

$facebook: #3b5999;
$instagram: #0077b5;