@import './color_scheme.css';

@define-extend font-reg {
  font-family: 'montserratregular', sans-serif;
}
@define-extend font-bold {
  font-family: 'montserratbold', sans-serif;
}
@define-extend font-light {
  font-family: 'montserratlight', sans-serif;
}

@define-extend form-control {
  background-color: $white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  border-radius: 4px;
  border: none;
  outline: none;
  transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
@define-extend form-control-hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.35), 0 0 0 1px rgba(0,0,0,0.08);
}

@define-extend absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
