@import '../../shared/utils.css';
.spinner {
  display: block;
  size: 80px;
  margin: 150px auto;
  animation: spin .35s infinite linear;
  border-radius: 100%;
  border: 2px solid $silver;
  border-top-color: $green;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg)
  }
}