@import '../../../shared/utils.css';
.box {
  width: 100%;
  padding: 15px;
  @extend font-reg;
  font-size: 12px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  @mixin simple-flex space-between, flex-start;
  transition: box-shadow .2s linear;
  cursor: pointer;
  text-decoration: none;
  &_active, &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
  }
  h2,p{
    color: $dark;
  }
}
.m_box {
  @extend .box;
  padding: 10px;
  border-bottom: 1px solid $light_grey;
}