@import '../../shared/utils.css';

.wrap {
  width: 85%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: $light_silver;
  @extend font-light;
  font-size: 14px;
}

.m_wrap {
  @extend .wrap;
  margin: 0 10px;
  padding:0;
  font-size: 12px;
}

.box {
  border-bottom: 1px solid $silver;
  margin-bottom: 15px;
  &__icon {
     color: $green;
     top: 50%;
   &__green{
     color: $green;
   }
   &__orange{
    color: $orange;
   }
  }
}

.text_numbers {
  font-weight:bold;
  color: $blue;
}

.text_costs {
  @extend .text_numbers;
  color: $dark_blue;
}

.map_wrap {
  width:100%;
  height: 300px;
  background: $blue;
}
