@import '../../../shared/utils.css';
.btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px;
  text-align: center;
  border: 1px solid $silver;
  color: $dark;
  cursor: pointer;
  @extend font-reg;
  border-radius: 2px;
  transition: all .2s linear;
  margin-right: 5px;
  &:hover {
    border-color: $dark;
  }
}

.active {
  border-color: $green;
  color: $green;
  &:hover {
    border-color: $green;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
  z-index: -1;
}