@import '../../shared/utils.css';

.inner {
  width: 50%;
  padding: 20px;
  @extend font-light;

  img {
    width: 300px;
  }
}

.m_inner {
  @extend .inner;
  width: 100%;
  padding: 10px;
  img {
    width: 100%;
    margin-bottom:10px;
  }
}
