@import '../../shared/utils.css';
.nav {
  float: right;
  right: 20px;
}
.item {
  color: $dark;
  text-decoration: none;
  display: inline-block;
  margin-left: 50px;
  @extend font-light;
  font-size: 14px;
  transition: color .12s linear;

  &:hover {
    color: $green;
  }
}