@import '../../shared/utils.css';
.input {
  border: none;
  outline: none;
  @extend font-reg;
  color: $dark;
  width: 100%;
  padding-right: 25px;
  background: none;

  &__wrap {
    @mixin simple-flex flex-start, center;
    padding: 6px;
    &_bordered {
      @extend .input__wrap;
      border-bottom: 1px solid $silver;
    }
  }
  &__icon {
    color: $dark_grey;
    margin-right: 5px;
  }
}